# Module 04 - Data Structures Asssignment

## Data Structures - Theory Questions

1.   What are data structures, and why are they important?

---

2.   Explain the difference between mutable and immutable data types with examples.

---

3.   What are the main differences between lists and tuples in Python?

---

4.   Describe how dictionaries store data.

---

5.   Why might you use a set instead of a list in Python?

---

6.   What is a string in Python, and how is it different from a list?

---

7.   How do tuples ensure data integrity in Python?

---

8.   What is a hash table, and how does it relate to dictionaries in Python?

---

9.   Can lists contain different data types in Python?

---

10.   Explain why strings are immutable in Python.

---

11.   What advantages do dictionaries offer over lists for certain tasks?

---

12.   Describe a scenario where using a tuple would be preferable over a list.

---

13.   How do set?s handle duplicate values in Python?

---

14.   How does the “in” keyword work differently for lists and dictionaries?

---

15.   Can you modify the elements of a tuple? Explain why or why not?

---

16.    What is a nested dictionary, and give an example of its use case?

---

17.    Describe the time complexity of accessing elements in a dictionary.

---

18.   In what situations are lists preferred over dictionaries.

---

19.   Why are dictionaries considered unordered, and how does that affect data retrieval?

---

20.   Explain the difference between a list and a dictionary in terms of data retrieval.

---

---

## Practical Questions

1.   Write a code to create a string with your name and print it.

In [15]:
name = "Aditi Harish"
print("My name is ",name)

My name is  Aditi Harish

---

2.   Write a code to find the length of the string "Hello World".

In [31]:
str = "Hello World"
length = len(str)
print("The length of the string \"Hello World\" is:",length)

The length of the string "Hello World" is: 11

---

3.   Write a code to slice the first 3 characters from the string "Python Programming".

In [21]:
str = "Python Programming"
str[:3]

'Pyt'

---

4.   Write a code to convert the string "hello" to uppercase

In [24]:
word = "hello"
word.upper()

'HELLO'

---

5.   Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [27]:
user_string = "I like apple"
user_string.replace("apple", "orange")

'I like orange'

---

6.   Write a code to create a list with numbers 1 to 5 and print it

In [47]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

# Alternate way to create lists - Using List Comprehension
list_numbers = [i for i in range(1, 6)]
print(list_numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

---

7.   Write a code to append the number 10 to the list [1, 2, 3, 4]

In [52]:
my_list = [1, 2, 3, 4, 5]
print("Orginal List: ", my_list)

# appending the number 10 to the list
my_list.append(10)
print("New list: ", my_list)

Orginal List:  [1, 2, 3, 4, 5]
New list:  [1, 2, 3, 4, 5, 10]

---

8.   Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [54]:
lis = [1, 2, 3, 4, 5]
print("Original List: ", lis)

# Removing number 3
lis.remove(3)
print("New list: ", lis)

Original List:  [1, 2, 3, 4, 5]
New list:  [1, 2, 4, 5]

---

9.   Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [56]:
my_list = ['a', 'b', 'c', 'd']
print(" Original list: ", my_list)

# accessing the second element
print(" Accessing the second element in my list: ", my_list[1])

 Original list:  ['a', 'b', 'c', 'd']
 Accessing the second element in my list:  b

---

10.   Write a code to reverse the list [10, 20, 30, 40, 50]

In [58]:
lis = [10, 20, 30, 40, 50]
print("Original List: ", lis)

rev_lis = [i for i in lis]
print("Reveresd List: ", rev_lis)

Original List:  [10, 20, 30, 40, 50]
Reveresd List:  [10, 20, 30, 40, 50]

---

11.   Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [72]:
tuple_sam = (100, 200, 300)
print("Tuple:", tuple_sam)

Tuple: (100, 200, 300)

---

12.   Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [76]:
tuple_sam = ('red', 'green', 'blue', 'yellow')
print("Original List: ", tuple_sam)

print("\nThe second to last element in the tuple is:", tuple_sam[-2])

Original List:  ('red', 'green', 'blue', 'yellow')

The second to last element in the tuple is: blue

---

13.   Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [78]:
tuple_sam = (10, 20, 5, 15)
print("Original List: ", tuple_sam)

print("Minimum number in the tuple:", min(tuple_sam))

Original List:  (10, 20, 5, 15)
Minimum number in the tuple: 5

---

14.   Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [100]:
tuple_sample = ('dog', 'cat', 'rabbit')
print("The original tuple is: ", tuple_sample)

print("The index of the element cat in the tuple is: ", tuple_sample.index('cat'))

The original tuple is:  ('dog', 'cat', 'rabbit')
The index of the element cat in the tuple is:  1

---

15.    Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [1]:
tuple_fruits = ('apple', 'banana', 'orange', 'kiwi', 'lychee')
print("The original tuple is:", tuple_fruits)

if 'kiwi' in tuple_fruits:
    print("The string \'kiwi\' is present in the tuple")
else:
    print("The string \'kiwi\' is not present in the tuple")

The original tuple is: ('apple', 'banana', 'orange', 'kiwi', 'lychee')
The string 'kiwi' is present in the tuple

---

16.   Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [86]:
set_sample = {'a', 'b', 'c'}
print(set_sample)

{'a', 'b', 'c'}

---

17.   Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [96]:
sample_set = {1, 2, 3, 4, 5}
print("The original set is: ", sample_set) 

sample_set.clear()

The original set is:  {1, 2, 3, 4, 5}

---

18.   Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [108]:
set_sample = {1, 2, 3, 4}
print("The original set is:", set_sample)

set_sample.remove(4)
print("Set after removing the element 4:", set_sample)

The original set is: {1, 2, 3, 4}
Set after removing the element 4: {1, 2, 3}

---

19.   Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [116]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union = set1 | set2
print("The union of two sets:", union)

The union of two sets: {1, 2, 3, 4, 5}

---

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [118]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection = set1 & set2
print("The intersection of two sets:", intersection)

The intersection of two sets: {3}

---

21.   Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [126]:
dict_sample = {"Name:": "Eva", "Age:": "35 years", "City:": "Bengaluru"}

for (k, val) in dict_sample.items(): 
    print(k, val)

Name: Eva
Age: 35 years
City: Bengaluru

---

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [13]:
dic_sample = {'name': 'John', 'age': 25}
print("The original dictionary is as below:")
for (k, val) in dic_sample.items():
    print(k, val)

dic_sample['country'] = 'USA'
print("New dictionary is: ", dic_sample)

The original dictionary is as below:
name John
age 25
New dictionary is:  {'name': 'John', 'age': 25, 'country': 'USA'}

---

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
sample_dic = {'name': 'Alice', 'age': 30}

name_val = sample_dic['name']
print("The value associated with name is:", name_val)

The value associated with name is: Alice

---

24.   Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [32]:
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print("The original dictionary is:", dic)

dic.pop('age')
print("New dictionary:")
print(dic)

The original dictionary is: {'name': 'Bob', 'age': 22, 'city': 'New York'}
New dictionary:
{'name': 'Bob', 'city': 'New York'}

---

25.    Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [36]:
dic_sam = {'name': 'Alice', 'city': 'Paris'}

if 'name' in dic_sam:
    print("Yes, key 'name' exists in the dictionary")
else:
    print("The key 'name' does not exist in the dictionary")

Yes, key 'name' exists in the dictionary

---

26.

---

27.

---

28.

---

29.

---

30.